<style>
            body {
                font-size: 2em;
            }
            h1 {
                color: coral;
            }
            #intro {
                font-size: 1.3em;
                color: orange;
            }
            .colorful {
                color: orange;
            }
            #image_style {
            
          }
            
</style>
<p id="notice"><%= notice %></p>

<p id ="intro"
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p id ="image_style"
  <strong>Image:</strong>
  <%= image_tag(@product.image_url.url, width: 600) if @product.image_url.present? %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@product.price) %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>