<style>
            body {
                font-size: 2em;
            }
            h1 {
                color: coral;
                paddingBottom = "50px";
                line-height: 6.8;
            }
            #intro {
                font-size: 1.0em;
                color: orange;
                paddingBottom = "1px";
                line-height: 1.1;
            }
            #price_style {
              font-size: 1em;
            }
            
</style>
<p id="notice"><%= notice %></p>

<p id ="intro"
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= sanitize @product.description %>
</p>

<p id ="image_style"
  <strong>Image:</strong>
  <%= image_tag(@product.image_url.url, width: 250) if @product.image_url.present? %>
</p>

<p id = "price_style"
  <strong>Price:</strong>
  <%= number_to_currency(@product.price) %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>